$card-margin: 5px;
$card-img-size: 324px;
$select-box-margin: 10px;

.card {
  margin: $card-margin;
}

.card-img-top {
  height: $card-img-size;
  min-width: $card-img-size;
}

.select-box {
  margin: auto;
  margin-bottom: $select-box-margin;
}
